:root {
  --color-primary: #d1003f;
  --color-white: #fff;
  --color-black: #000;
}

.primary {
  color: var(--color-primary);
}

/* Header */
header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header span {
  color: var(--color-primary);
  font-size: 30px;
}

/* Hero */
.hero {
  width: 100vw;
  height: 600px;
  background-image: url('../images/hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .title {
  background-color: var(--color-white);
  width: 878px;
  height: 220px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-black);
  font-size: 48px;
  font-weight: 900;
  line-height: 56.25px;
}

@media (max-width: 740px) {
  .hero {
    height: 357px;
  }

  .hero .title {
    width: 302px;
    height: 123px;
    font-size: 28px;
    line-height: 32.81px;
  }
}

/* App */
.app {
  width: 100vw;
  height: 601px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--color-white);
}

.app img.mexican {
  width: 461px;
  height: 431px;
  position: absolute;
  left: -80px;
  bottom: -80px;
}

.app img.egg {
  width: 382px;
  height: 395px;
  position: absolute;
  top: -84px;
  right: -77px;
}

.app .infos {
  display: flex;
  gap: 100px;
  z-index: 1;
}

.app .infos > img {
  width: 218px;
  height: 441px;
}

.app .infos .info {
  padding: 32px;
}

.app .infos .info h2 {
  color: var(--color-black);
  font-size: 48px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 36px;
}

.app .infos .info li {
  margin-bottom: 12px;
  color: var(--color-black);
  font-size: 20px;
  line-height: 32px;
  position: relative;
  padding-left: 44px;
  display: flex;
  align-items: center;
}

.app .infos .info li:last-child {
  margin-bottom: 36px;
}

.app .infos .info li::before {
  content: '';
  width: 24px;
  height: 24px;
  background-color: #fff;
  background-image: url('../images/check.svg');
  background-size: 24px 24px;
  position: absolute;
  left: 0;
}

.app .infos .info .store-buttons {
  display: flex;
  gap: 32px;
}

@media (max-width: 740px) {
  .app {
    height: 658px;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;
    box-sizing: border-box;
  }

  .app img.mexican {
    width: 185px;
    height: 170px;
    top: 87px;
    left: -61px;
    bottom: auto;
  }

  .app img.egg {
    width: 117px;
    height: 120px;
    top: -31px;
    right: -44px;
  }

  .app .infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 28px;
    z-index: 1;
  }

  .app .infos > img {
    width: 109px;
    height: 219px;
    margin: 0 auto;
  }

  .app .infos .info {
    padding: 0;
  }

  .app .infos .info h2 {
    font-size: 28px;
    margin-bottom: 28px;
  }

  .app .infos .info li {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 32px;
    padding-left: 40px;
  }

  .app .infos .info li:last-child {
    margin-bottom: 30px;
  }

  .app .infos .info li::before {
    content: '';
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
  }

  .app .infos .info .store-buttons {
    justify-content: center;
  }

  .app .infos .info .store-buttons img {
    width: 135px;
  }
}

/* Join Us */
.join-us {
  /* width: 100vw; */
  height: 570px;
  background-color: var(--color-primary);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.join-us .hamburguer {
  position: absolute;
  top: 71px;
  right: 242px;
  z-index: 0;
}

.join-us h1 {
  font-size: 48px;
  font-weight: 900;
  color: var(--color-white);
  line-height: 56.25px;
}

.join-us .icons {
  z-index: 1;
  display: flex;
  gap: 40px;
  box-sizing: border-box;
}

.join-us .icons .icon {
  width: 246px;
  height: 274px;
  background-color: var(--color-white);
  border-radius: 16px;
  padding: 60px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.join-us .icons .icon img {
  width: 100px;
  height: 100px;
}

.join-us .icons .icon span {
  font-size: 32px;
  font-weight: 900;
  line-height: 37.5px;
  color: var(--color-black);
}

@media (max-width: 740px) {
  .join-us {
    height: 485px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 30px;
  }

  .join-us .hamburguer {
    width: 161px;
    height: 166px;
    top: 62px;
    right: -26px;
  }

  .join-us h1 {
    font-size: 38px;
    line-height: 44.53px;
  }

  .join-us .icons {
    width: 100%;
    flex-direction: column;
    gap: 20px;
    padding: 0 30px;
  }

  .join-us .icons .icon {
    padding: 20px;
    width: 100%;
    height: 90px;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
  }

  .join-us .icons .icon img {
    width: 50px;
    height: 50px;
  }

  .join-us .icons .icon span {
    font-size: 24px;
    font-weight: 400;
    line-height: 28.13px;
  }
}

/* FAQ */
.faq {
  width: 100vw;
  height: 865px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.03);
  padding: 80px 0;
  box-sizing: border-box;
  overflow: hidden;
}

.faq img.pizza {
  position: absolute;
  top: 30px;
  left: 25px;
  width: 440px;
}

.faq img.hotdog {
  position: absolute;
  bottom: 33px;
  right: -202px;
  width: 449px;
}

.faq h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  color: var(--color-black);
  line-height: 56.25px;
  margin-bottom: 80px;
}

.faq .questions {
  width: 770px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 1;
}

.faq .question-box {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px;
  color: var(--color-black);
}

.faq .question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 1s;
}

.faq .question-box .question .material-icons {
  font-weight: 900;
  font-size: 28px;
  cursor: pointer;
}

.faq .question-box .question h2 {
  font-size: 28px;
  font-weight: 500;
  line-height: 32.81px;
}

.faq .question-box p {
  font-size: 20px;
  line-height: 23px;
  visibility: hidden;
  opacity: 0;
  display: none;
  transition: 0.3s;
}

.faq .question-box p.show {
  visibility: visible;
  opacity: 1;
  display: block;
}

.faq p.help {
  width: 400px;
  color: var(--color-black);
  font-size: 20px;
  line-height: 23.44px;
  text-align: center;
  margin-bottom: 80px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

@media (max-width: 740px) {
  .faq {
    height: 663px;
    padding: 50px 0;
  }

  .faq img.pizza {
    top: 0px;
    left: -12px;
    width: 152px;
  }

  .faq img.hotdog {
    bottom: -43px;
    right: -75px;
    width: 214px;
  }

  .faq h1 {
    font-size: 38px;
    line-height: 44.53px;
    margin-bottom: 30px;
  }

  .faq .questions {
    width: 100%;
    gap: 16px;
  }

  .faq .question-box {
    z-index: 1;
  }

  .faq .question-box .question .material-icons {
    font-size: 20px;
  }

  .faq .question-box .question h2 {
    font-size: 20px;
    line-height: 23.44px;
  }

  .faq .question-box p {
    font-size: 16px;
    line-height: 18.75px;
  }

  .faq p.help {
    width: 100%;
    font-size: 12px;
    line-height: 14.06px;
  }
}

/* Footer */
footer {
  height: 550px;
  background-color: var(--color-primary);
  padding: 80px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
}

footer > ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

footer > ul > li ul.menu li h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 24px;
}

footer > ul > li ul.menu li a {
  display: block;
  color: var(--color-white);
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 12px;
}

footer > ul > li ul.menu li:last-child a {
  margin-bottom: 0;
}

footer > ul > li ul.menu li img {
  width: 153px;
  height: 45px;
}

footer h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 32px;
}

footer .copyright {
  font-size: 20px;
  line-height: 24px;
}

@media (max-width: 740px) {
  footer {
    height: 1156px;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--color-white);
  }

  footer > ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }

  footer > ul > li ul.menu li a {
    font-size: 16px;
  }

  footer h1 {
    margin-top: 16px;
    margin-bottom: 24px;
  }

  footer .copyright {
    font-size: 16px;
  }
}
