:root {
  --color-primary: #d1003f;
  --color-white: #fff;
  --color-black: #000;
}

.primary {
  color: var(--color-primary);
}

/* Header */
header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header span {
  color: var(--color-primary);
  font-size: 30px;
}

/* Hero */
.hero {
  width: 100vw;
  height: 600px;
  background-image: url('../images/hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .title {
  background-color: var(--color-white);
  width: 878px;
  height: 220px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-black);
  font-size: 48px;
  font-weight: 900;
  line-height: 56.25px;
}

/* App */
.app {
  width: 100vw;
  height: 601px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: var(--color-white);
}

.app img.mexican {
  width: 461px;
  height: 431px;
  position: absolute;
  left: -80px;
  bottom: -80px;
}

.app img.egg {
  width: 382px;
  height: 395px;
  position: absolute;
  top: -84px;
  right: -77px;
}

.app .infos {
  display: flex;
  gap: 100px;
  z-index: 1;
}

.app .infos > img {
  width: 218px;
  height: 441px;
}

.app .infos .info {
  padding: 32px;
}

.app .infos .info h2 {
  color: var(--color-black);
  font-size: 48px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 36px;
}

.app .infos .info li {
  margin-bottom: 12px;
  color: var(--color-black);
  font-size: 20px;
  line-height: 32px;
  position: relative;
  padding-left: 44px;
  display: flex;
  align-items: center;
}

.app .infos .info li:last-child {
  margin-bottom: 36px;
}

.app .infos .info li::before {
  content: '';
  width: 24px;
  height: 24px;
  background-color: #fff;
  background-image: url('../images/check.svg');
  background-size: 24px 24px;
  position: absolute;
  left: 0;
}

.app .infos .info .store-buttons {
  display: flex;
  gap: 32px;
}

/* Join Us */
.join-us {
  width: 100vw;
  height: 570px;
  background-color: var(--color-primary);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.join-us .hamburguer {
  position: absolute;
  top: 71px;
  right: 242px;
  z-index: 0;
}

.join-us h1 {
  font-size: 48px;
  font-weight: 900;
  color: var(--color-white);
  line-height: 56.25px;
}

.join-us .icons {
  z-index: 1;
  display: flex;
  gap: 40px;
}

.join-us .icons .icon {
  width: 246px;
  height: 274px;
  background-color: var(--color-white);
  border-radius: 16px;
  padding: 60px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.join-us .icons .icon img {
  width: 100px;
  height: 100px;
}

.join-us .icons .icon span {
  font-size: 32px;
  font-weight: 900;
  line-height: 37.5px;
  color: var(--color-black);
}

/* FAQ */
.faq {
  width: 100vw;
  height: 865px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.03);
  padding: 80px 0;
  box-sizing: border-box;
}

.faq img.pizza {
  position: absolute;
  top: 30px;
  left: 25px;
  width: 440px;
}

.faq img.hotdog {
  position: absolute;
  bottom: 33px;
  right: -202px;
  width: 449px;
}

.faq h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 900;
  color: var(--color-black);
  line-height: 56.25px;
  margin-bottom: 80px;
}

.faq .questions {
  width: 770px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 1;
}

.faq .question-box {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px;
  color: var(--color-black);
}

.faq .question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 1s;
}

.faq .question-box .question .material-icons {
  font-weight: 900;
  font-size: 28px;
  cursor: pointer;
}

.faq .question-box .question h2 {
  font-size: 28px;
  font-weight: 500;
  line-height: 32.81px;
}

.faq .question-box p {
  font-size: 20px;
  line-height: 23px;
  visibility: hidden;
  opacity: 0;
  display: none;
  transition: 0.3s;
}

.faq .question-box p.show {
  visibility: visible;
  opacity: 1;
  display: block;
}

.faq p.help {
  width: 400px;
  color: var(--color-black);
  font-size: 20px;
  line-height: 23.44px;
  text-align: center;
  margin-bottom: 80px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

/* Footer */
footer {
  height: 550px;
  background-color: var(--color-primary);
  padding: 80px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
}

footer > ul {
  display: flex;
  justify-content: center;
  gap: 206px;
}

footer > ul > li ul.menu li h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 24px;
}

footer > ul > li ul.menu li a {
  display: block;
  color: var(--color-white);
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 12px;
}

footer > ul > li ul.menu li img {
  width: 153px;
}

footer h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 32px;
}

footer .copyright {
  font-size: 20px;
  line-height: 24px;
}
